/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */

.message {
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.message__from-watson {
  display: flex;
  align-items: center;
  .message__inner {
    margin-left: 8px;
  }
}

.message__text {
  padding: 12px;
  word-break: break-word;
  word-wrap: break-word;
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  li {
    font-weight: 700;
  }
}

.message__text--watson {
  background-color: transparent;
  border: 1px solid $brand-blue-o;
  border-radius: 0px 12px 12px 12px;
}

.message__text--user {
  background-color: $brand-blue;
  border-radius: 12px 12px 0 12px;
  color: $brand-white;
  position: relative;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.33s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

