/**
 * created by Samson Iyanda
 * https://github.com/samcyn
 * samsoniyanda@outlook.com
 * https://samsoniyanda.herokuapp.com
 *
 */

.user {
  margin-left: 8px;
  padding-top: 5px;
}

.user__name {
  color: $brand-dark;
  font-family: $boldFont;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
}

.user__status {
  color: #A2A2A2;
  font-family: $boldFont;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  animation-delay: 2s;
}